<?xml version="1.0"?>

<link name="link_name">
    <visual>
        <geometry>
            <mesh filename="package://pkg_name/meshes/file_name"/>
            <box size="1.0 1.0 1.0" />
            <cylinder radius="1.0" length="1.0"/>
        </geometry>
        <material name="LightGrey">
            <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
    </visual>


</link>



    
    
    



